// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Root
$darkBlue: hsl(243, 87%, 12%);
$desBlue: hsl(238, 22%, 44%);
$blue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
$lightBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

$openSans: 'Open Sans',
sans-serif;
$raleway: 'Raleway',
sans-serif;

// Global CSS
body {
    font-family: $openSans;
    font-weight: 400;
    color: $darkBlue;
}

h1,
h2,
h3,
h4,
btn {
    font-family: $raleway;
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.7em;
}

.bg-desktop,
.bg-mobile {
    width: 100%;
    overflow: hidden;
}

/* ----- Button ----- */
.btn-submit {
    background-color: $blue;
    color: #fff;

    &:hover {
        color: #fff;
        opacity: 0.7;
    }
}

.btn-text {
    color: $cyan;
    font-size: 18px;
    text-decoration: underline;

    &:hover {
        color: $cyan;
        opacity: 0.7;
    }
}

/* ----- Header ----- */
.site-header {
    padding: 50px 0 100px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 2.3rem;
            color: $darkBlue;
            line-height: 1.5em;
        }

        p {
            font-size: 18px;
            line-height: 1.5em;
        }
    }

    &__form {
        display: flex;

        input {
            flex: 2;
            margin-right: 20px;
            padding: 5px 20px;
            color: $lightGray;
        }

        button {
            flex: 1;
        }
    }
}

// Section Feature
.section-feature {
    padding: 100px 0 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $lightBlue;
}

figure {
    margin-top: 2em;
    background-color: #fff;
    border-radius: 20px;
    padding: 2em;
    // width: 65%;

    p {
        font-size: 14px;
    }
}

figcaption {
    font-size: 12px;

    img {
        border-radius: 50%;
    }
}


// Section CTA
.section-cta {
    padding: 100px 0;
    background-color: hsl(238, 22%, 44%);
}



// Footer
footer {
    background-color: $darkBlue;
    padding: 100px 0 20px;

    color: $lightBlue;

    a {
        color: $lightBlue;

        &:hover {
            color: $blue;
        }
    }
}

.social-media {
    li {
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 5px 10px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $lightBlue;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ---- Responsive ----- */
@media (max-width: 375px) {
    .bg-desktop {
        display: none;
    }
}

@media screen and (min-width: 375.98px) {
    .bg-mobile {
        display: none;
    }
}

@media (max-width: 767.98px) {

    // Section Feature
    .col-image {
        order: 1;
    }

    .col-content {
        order: 2;
    }

    // Centering Element
    .site-header__title,
    .section__title,
    .section-cta .section__description {
        text-align: center;
    }

    // Blockquote
    figure {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
}